[Desktop Entry]
Name=st
Comment=st is a simple terminal implementation for X
Exec=st
Icon=utilelities-x-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
